<p style="color: green"><%= notice %></p>

<h1>Scores</h1>

<div id="scores">
  <% @scores.each do |score| %>
    <div id="<%= dom_id score %>">
      <p>
        <strong>Id:</strong>
        <%= score.id %>
      </p>

      <p>
        <strong>Title:</strong>
        <%= score.title %>
      </p>

      <p>
        <strong>Is public:</strong>
        <%= score.is_public %>
      </p>
      <p>
        <%= link_to "Show this score", score %>
      </p>
    </div>
  <% end %>
</div>

<%= paginate @scores %>

<%= link_to "New score", new_score_path %>
